{% extends "layout.html" %}
{% block body %}
  <h1>Pienvwatcher</h1>

  <div class="series">
    <h2>Existing time series</h2>
    Select a series to view:

    <ul>
    
    {% for ser in series %}
      <li><a href="series/{{ ser }}">{{ ser }}</a></li>
    {% else %}
      No series' Found!
    {% endfor %}
    </ul>
  </div>


  <div class="recorder">
    <h2>Recorder</h2>

    Recorder status: 
    {% if recorder_present %}
      <span class="good"> Running </span> series "{{ recorder_info.series_name }}".

      <form action="stop_recorder" method="post">
         <input type="submit" value="Stop"> 
      </form>
    {% else %}
      <span class="bad"> Stopped </span>
      <form action="start_recorder" method="post">
         Series: <input type="text" name="series">
         Sample time: <input type="text" name="sampletime" value="30" size="5">
         <input type="submit" value="Start"> 
      </form>
    {% endif %}
  </div>

{% endblock %}